@{
    ViewData["Title"] = "Home Page";
}



@model WebApplication1.Models.Message

@{var reflectProps = typeof(WebApplication1.Models.Message).GetProperties();}


<h4>Message</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
           
            @foreach (var propertyInfo in reflectProps)
            {
                Console.WriteLine(propertyInfo);

                <div class="form-group">
                    <label asp-for="@propertyInfo.Name" control-label">@propertyInfo.Name</label>
                    <input asp-for=@propertyInfo.Name class="form-control" />
                    <span asp-validation-for=@propertyInfo.Name class="text-danger"></span>
                </div>

            }
            <input type="submit" />


        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

